<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1wm519pX71MRCq_b2DoK6TSF1gx_2GVk</string>
	<key>GCM_SENDER_ID</key>
	<string>601520446979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InventisGroup.Taxi-Taxi-1</string>
	<key>PROJECT_ID</key>
	<string>taxi-taxi-1</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-taxi-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601520446979:ios:6990afb841ae309aeef836</string>
</dict>
</plist>